kaldiio==2.17.2
numpy==1.26.4
matplotlib
torch==2.5.1
torchaudio==2.5.1
s3prl
PyYAML
scipy
torchnet
tqdm
scikit-learn
flake8
h5py
onnxruntime
soundfile
sounddevice
silero-vad
pre-commit
hdbscan
umap-learn
pyannote-audio
joblib
pydantic